.search-results {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.search-container {
  background-color: #191919;
  display: flex;
  width: 100%;
  padding-bottom: 36px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .search-container {
    max-width: 100%;
  }
}
.search-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 988px;
  width: 100%;
}
@media (max-width: 991px) {
  .search-content {
    max-width: 100%;
  }
}
.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.header {
  position: relative;
  background-color: #3d3d3d;
  border-color: #ffb64d;
  border-bottom-width: 2px;
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px 10px 12px 29px;
}
@media (max-width: 991px) {
  .header {
    max-width: 100%;
    margin-right: -3px;
    padding-left: 20px;
  }
}
.header-title {
  color: #ffb64d;
  text-transform: uppercase;
  margin: auto 0;
  font: 700 15px Istok Web, sans-serif;
}
.close-button {
  border-radius: 5px;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  padding: 8px 16px;
}
.close-icon {
  aspect-ratio: 0.86;
  object-fit: contain;
  object-position: center;
  width: 30px;
  align-self: stretch;
  margin: auto 0;
}
.search-form {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 29px 0 -8px;
  padding: 0 17px;
}
@media (max-width: 991px) {
  .search-form {
    max-width: 100%;
  }
}
.search-input-container {
  display: flex;
  margin-left: 56px;
  width: 100%;
  max-width: 1160px;
  gap: 15px;
  font-family: Istok Web, sans-serif;
  color: #fff;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .search-input-container {
    max-width: 100%;
  }
}
.search-input {
  border-color: #fff;
  border-bottom-width: 3px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  flex-grow: 1;
  width: fit-content;
  padding: 45px 0 16px;
}
@media (max-width: 991px) {
  .search-input {
    max-width: 100%;
  }
}
.search-button {
  align-self: end;
  border-radius: 8px;
  background-color: #ff824d;
  margin-top: 35px;
  gap: 10px;
  font-size: 24px;
  font-weight: 700;
  white-space: nowrap;
  padding: 10px 30px;
}
@media (max-width: 991px) {
  .search-button {
    white-space: initial;
    padding: 0 20px;
  }
}
.search-options {
  background-color: rgba(217, 217, 217, 0.1);
  align-self: center;
  display: flex;
  margin-top: 20px;
  width: 1269px;
  max-width: 100%;
  gap: 15px;
  color: #fff;
  text-transform: uppercase;
  flex-wrap: wrap;
  padding: 9px 24px 9px 9px;
  font: 400 15px Istok Web, sans-serif;
}
@media (max-width: 991px) {
  .search-options {
    padding-right: 20px;
  }
}
.search-in-label {
  color: #ff824d;
  font-size: 20px;
  font-weight: 700;
  flex-grow: 1;
  margin: auto 0;
}
.search-option {
  align-self: stretch;
  border-radius: 5px;
  background-color: #696969;
  gap: 10px;
  white-space: nowrap;
  padding: 5px 15px;
}
@media (max-width: 991px) {
  .search-option {
    white-space: initial;
  }
}
.search-results-container {
  background-color: rgba(217, 217, 217, 0.05);
  display: flex;
  margin-top: 59px;
  width: 100%;
  padding-bottom: 97px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .search-results-container {
    max-width: 100%;
    margin-top: 40px;
  }
}
.search-results-grid {
  margin-left: 11px;
  width: 100%;
}
@media (max-width: 991px) {
  .search-results-grid {
    max-width: 100%;
  }
}
.search-results-row {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .search-results-row {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.search-result-item {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .search-result-item {
    width: 100%;
  }
}
.search-result-content {
  background-color: rgba(217, 217, 217, 0.15);
  flex-grow: 1;
  width: 100%;
  padding: 9px 80px 9px 11px;
}
@media (max-width: 991px) {
  .search-result-content {
    max-width: 100%;
    margin-top: 10px;
    padding-right: 20px;
  }
}
.search-result-inner {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .search-result-inner {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.search-result-image-container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 20%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .search-result-image-container {
    width: 100%;
  }
}
.search-result-image {
  aspect-ratio: 0.66;
  object-fit: contain;
  object-position: center;
  width: 59px;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .search-result-image {
    margin-top: 23px;
  }
}
.search-result-details {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 80%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .search-result-details {
    width: 100%;
  }
}
.search-result-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #fff;
  font: 400 15px Istok Web, sans-serif;
}
@media (max-width: 991px) {
  .search-result-info {
    margin-top: 24px;
  }
}
.search-result-title {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .search-result-title {
    margin-right: 8px;
  }
}
.search-result-metadata {
  align-self: end;
  display: flex;
  margin-top: 12px;
  gap: 3px;
}
.search-result-genres {
  align-self: start;
  display: flex;
  margin-top: 13px;
  gap: 12px;
  color: #ffb64d;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .search-result-genres {
    white-space: initial;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
