@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Iceland&family=Oxanium:wght@200;300;400;500;600;700;800&family=Sirin+Stencil&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This file contains all the default css I uses in my web projects */

/* webkit */
.no-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  width: 5px;
}

/* fonts */
.en-iceberg {
  font-family: "Iceberg", sans-serif;
}

.en-iceland {
  font-family: "Iceland", sans-serif;
}

.en-Oxanium {
  font-family: "Oxanium", sans-serif;
}

.en-sirin {
  font-family: "Sirin Stencil", sans-serif;
}

.en-mulearn {
  font-family: "Exo 2", sans-serif;
}

.en-mulearn-italic {
  font-family: "Exo 2", sans-serif;
  font-style: italic;
}

/* icons */
.infoIcon {
  background: url(https://raw.githubusercontent.com/christo-zero-john/defaults/main/info.png);
  background-size: cover;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
}

/* widths */
.wd-100 {
  width: 100vw;
}

.wd-75 {
  width: 75vw;
}

.wd-50 {
  width: 50vw;
}

.wd-25 {
  width: 25vw;
}

.wd-10 {
  width: 10vw;
}

.wd-20 {
  width: 20vw;
}

.wd-30 {
  width: 30vw;
}

.wd-40 {
  width: 40vw;
}

.wd-50 {
  width: 50vw;
}

.wd-60 {
  width: 60vw;
}

.wd-70 {
  width: 70vw;
}

.wd-80 {
  width: 80vw;
}

.wd-90 {
  width: 90vw;
}

.w-fit {
  width: fit-content !important;
}

/* min-width */
.mwd-100 {
  min-width: 100vw;
}

.mwd-75 {
  min-width: 75vw;
}

.mwd-50 {
  min-width: 50vw;
}

.mwd-25 {
  min-width: 25vw;
}

.mwd-10 {
  min-width: 10vw;
}

.mwd-20 {
  min-width: 20vw;
}

.mwd-30 {
  min-width: 30vw;
}

.mwd-40 {
  min-width: 40vw;
}

.mwd-50 {
  min-width: 50vw;
}

.mwd-60 {
  min-width: 60vw;
}

.mwd-70 {
  min-width: 70vw;
}

.mwd-80 {
  min-width: 80vw;
}

.mwd-90 {
  min-width: 90vw;
}

.mw-fit {
  min-width: fit-content !important;
}

/* heights */
.hd-100 {
  height: 100vh;
}

.hd-75 {
  height: 75vh;
}

.hd-50 {
  height: 50vh;
}

.hd-25 {
  height: 25vh;
}

.hd-10 {
  height: 10vh;
}

.hd-20 {
  height: 20vh;
}

.hd-30 {
  height: 30vh;
}

.hd-40 {
  height: 40vh;
}

.hd-50 {
  height: 50vh;
}

.hd-60 {
  height: 60vh;
}

.hd-70 {
  height: 70vh;
}

.hd-80 {
  height: 80vh;
}

.hd-90 {
  height: 90vh;
}

.h-fit {
  height: fit-content;
}

/* min-height */
.mhd-100 {
  min-height: 100vh;
}

.mhd-75 {
  min-height: 75vh;
}

.mhd-50 {
  min-height: 50vh;
}

.mhd-25 {
  min-height: 25vh;
}

.mhd-10 {
  min-height: 10vh;
}

.mhd-20 {
  min-height: 20vh;
}

.mhd-30 {
  min-height: 30vh;
}

.mhd-40 {
  min-height: 40vh;
}

.mhd-50 {
  min-height: 50vh;
}

.mhd-60 {
  min-height: 60vh;
}

.mhd-70 {
  min-height: 70vh;
}

.mhd-80 {
  min-height: 80vh;
}

.mhd-90 {
  min-height: 90vh;
}

.mh-fit {
  min-height: fit-content;
}

/* font-weights */
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.fw-1000 {
  font-weight: 1000 !important;
}

/* opacity */
.op-1 {
  opacity: 1;
}

.op-09 {
  opacity: 0.9;
}

.op-08 {
  opacity: 0.8;
}

.op-07 {
  opacity: 0.7;
}

.op-06 {
  opacity: 0.6;
}

.op-05 {
  opacity: 0.5;
}

.op-04 {
  opacity: 0.4;
}

.op-03 {
  opacity: 0.3;
}

.op-02 {
  opacity: 0.2;
}

.op-01 {
  opacity: 0.1;
}

/* letter spacing */
.ls-1 {
  letter-spacing: 1;
}

.ls-09 {
  letter-spacing: 0.9;
}

.ls-08 {
  letter-spacing: 0.8;
}

.ls-07 {
  letter-spacing: 0.7;
}

.ls-06 {
  letter-spacing: 0.6;
}

.ls-05 {
  letter-spacing: 0.5;
}

.ls-04 {
  letter-spacing: 0.4;
}

.ls-03 {
  letter-spacing: 0.3;
}

.ls-02 {
  letter-spacing: 0.2;
}

.ls-01 {
  letter-spacing: 0.1;
}

/* text colors */
.text-wheat {
  color: wheat;
}

.text-orange {
  color: orange;
}

.text-darkorange {
  color: darkorange;
}

.text-aqua {
  color: aqua;
}

.text-aquamarine {
  color: aquamarine;
}

.text-greenyellow {
  color: greenyellow;
}

.text-violet {
  color: #a047fa;
}

/* link colors */
.link-wheat {
  color: wheat;
}

.link-orange {
  color: orange;
}

.link-darkorange {
  color: darkorange;
}

.link-aqua {
  color: aqua;
}

.link-aquamarine {
  color: aquamarine;
}

.link-greenyellow {
  color: greenyellow;
}

.link-violet {
  color: #a047fa;
}

.link-wheat:hover {
  color: #f5deb3bd;
}

.link-orange:hover {
  color: #ffa5003c;
}

.link-darkorange:hover {
  color: #ac6003aa;
}

.link-aqua:hover {
  color: #00ffffbd;
}

.link-aquamarine:hover {
  color: #7fffd4bd;
}

.link-greenyellow:hover {
  color: #adff2fbd;
}

.link-violet:hover {
  color: #a047fabd;
}

/* bg colors */
.bg-wheat {
  background-color: wheat;
}

.bg-orange {
  background-color: orange;
}

.bg-darkorange {
  background-color: darkorange;
}

.bg-aqua {
  background-color: aqua;
}

.bg-aquamarine {
  background-color: aquamarine;
}

.bg-greenyellow {
  background-color: greenyellow;
}

.bg-violet {
  background-color: #a047fa;
}

/* alert colors */
.alert-wheat {
  background-color: #f5deb350;
}

.alert-orange {
  background-color: #ffa50050;
}

.alert-darkorange {
  background-color: #ff8c0050;
}

.alert-aqua {
  background-color: #00ffff50;
}

.alert-aquamarine {
  background-color: #7fffd450;
}

.alert-greenyellow {
  background-color: #adff2f50;
}

.alert-violet {
  background-color: #a047fa50;
}

.placeholder-light::placeholder {
  color: white;
}

.placeholder-secondary::placeholder {
  color: grey;
}

.placeholder-danger::placeholder {
  color: red;
}

.placeholder-success::placeholder {
  color: green;
}

.placeholder-primary::placeholder {
  color: #003afa;
}

.placeholder-info::placeholder {
  color: #008cff;
}

.placeholder-dark::placeholder {
  color: #3d3d3d;
}

/* text shadow */
.ts-normal-black {
  text-shadow: 0 0 2px #000;
}
.ts-normal-white {
  text-shadow: 0 0 2px #fff;
}

/* stretch */
.stretchX-01 {
  transform: scaleX(0.1rem);
}

/* hover scale */
.hover-scale-01:hover {
  scale: 0.1;
}
.hover-scale-02:hover {
  scale: 0.2;
}
.hover-scale-03:hover {
  scale: 0.3;
}
.hover-scale-04:hover {
  scale: 0.4;
}
.hover-scale-05:hover {
  scale: 0.5;
}
.hover-scale-06:hover {
  scale: 0.6;
}
.hover-scale-07:hover {
  scale: 0.7;
}
.hover-scale-08:hover {
  scale: 0.8;
}
.hover-scale-09:hover {
  scale: 0.9;
}
.hover-scale-11:hover {
  scale: 1.1;
}
.hover-scale-12:hover {
  scale: 1.2;
}
.hover-scale-13:hover {
  scale: 1.3;
}
.hover-scale-14:hover {
  scale: 1.4;
}
.hover-scale-15:hover {
  scale: 1.5;
}
.hover-scale-16:hover {
  scale: 1.6;
}
.hover-scale-17:hover {
  scale: 1.7;
}
.hover-scale-18:hover {
  scale: 1.8;
}
.hover-scale-19:hover {
  scale: 1.9;
}
.hover-scale-2:hover {
  scale: 2;
}

/* transitions all */
.transition-01 {
  transition: all 0.1s;
}
.transition-02 {
  transition: all 0.2s;
}
.transition-03 {
  transition: all 0.3s;
}
.transition-04 {
  transition: all 0.4s;
}
.transition-05 {
  transition: all 0.5s;
}
.transition-06 {
  transition: all 0.6s;
}
.transition-07 {
  transition: all 0.7s;
}
.transition-08 {
  transition: all 0.8s;
}
.transition-09 {
  transition: all 0.9s;
}
.transition-1 {
  transition: all 1s;
}
.transition-11 {
  transition: all 1.1s;
}
.transition-12 {
  transition: all 1.2s;
}
.transition-13 {
  transition: all 1.3s;
}
.transition-14 {
  transition: all 1.4s;
}
.transition-15 {
  transition: all 1.5s;
}
.transition-16 {
  transition: all 1.6s;
}
.transition-17 {
  transition: all 1.7s;
}
.transition-18 {
  transition: all 1.8s;
}
.transition-19 {
  transition: all 1.9s;
}
.transition-2 {
  transition: all 2s;
}

.hidden {
  display: none;
}

.empty-field {
  border: 1px solid red;
  background-color: #fd9797;
  border-radius: 3px;
  color: #fff;
}

form input {
  z-index: 0 !important;
}

.empty-field::placeholder {
  color: #fff;
}

@media (min-width: 768px) {
  /* fonts */
  .md-en-iceberg {
    font-family: "Iceberg", sans-serif;
  }

  .md-en-iceland {
    font-family: "Iceland", sans-serif;
  }

  .md-en-Oxanium {
    font-family: "Oxanium", sans-serif;
  }

  .md-en-sirin {
    font-family: "Sirin Stencil", sans-serif;
  }

  .md-en-mulearn {
    font-family: "Exo 2", sans-serif;
  }

  .md-en-mulearn-italic {
    font-family: "Exo 2", sans-serif;
    font-style: italic;
  }

  /* widths */
  .md-wd-100 {
    width: 100vw;
  }

  .md-wd-75 {
    width: 75vw;
  }

  .md-wd-50 {
    width: 50vw;
  }

  .md-wd-25 {
    width: 25vw;
  }

  .md-wd-10 {
    width: 10vw;
  }

  .md-wd-20 {
    width: 20vw;
  }

  .md-wd-30 {
    width: 30vw;
  }

  .md-wd-40 {
    width: 40vw;
  }

  .md-wd-50 {
    width: 50vw;
  }

  .md-wd-60 {
    width: 60vw;
  }

  .md-wd-70 {
    width: 70vw;
  }

  .md-wd-80 {
    width: 80vw;
  }

  .md-wd-90 {
    width: 90vw;
  }

  .md-w-fit {
    width: fit-content !important;
  }

  /* min-width */
  .md-mwd-100 {
    min-width: 100vw;
  }

  .md-mwd-75 {
    min-width: 75vw;
  }

  .md-mwd-50 {
    min-width: 50vw;
  }

  .md-mwd-25 {
    min-width: 25vw;
  }

  .md-mwd-10 {
    min-width: 10vw;
  }

  .md-mwd-20 {
    min-width: 20vw;
  }

  .md-mwd-30 {
    min-width: 30vw;
  }

  .md-mwd-40 {
    min-width: 40vw;
  }

  .md-mwd-50 {
    min-width: 50vw;
  }

  .md-mwd-60 {
    min-width: 60vw;
  }

  .md-mwd-70 {
    min-width: 70vw;
  }

  .md-mwd-80 {
    min-width: 80vw;
  }

  .md-mwd-90 {
    min-width: 90vw;
  }

  .md-mw-fit {
    min-width: fit-content !important;
  }

  /* heights */
  .md-hd-100 {
    height: 100vh;
  }

  .md-hd-75 {
    height: 75vh;
  }

  .md-hd-50 {
    height: 50vh;
  }

  .md-hd-25 {
    height: 25vh;
  }

  .md-hd-10 {
    height: 10vh;
  }

  .md-hd-20 {
    height: 20vh;
  }

  .md-hd-30 {
    height: 30vh;
  }

  .md-hd-40 {
    height: 40vh;
  }

  .md-hd-50 {
    height: 50vh;
  }

  .md-hd-60 {
    height: 60vh;
  }

  .md-hd-70 {
    height: 70vh;
  }

  .md-hd-80 {
    height: 80vh;
  }

  .md-hd-90 {
    height: 90vh;
  }

  .md-h-fit {
    height: fit-content;
  }

  /* min-height */
  .md-mhd-100 {
    min-height: 100vh;
  }

  .md-mhd-75 {
    min-height: 75vh;
  }

  .md-mhd-50 {
    min-height: 50vh;
  }

  .md-mhd-25 {
    min-height: 25vh;
  }

  .md-mhd-10 {
    min-height: 10vh;
  }

  .md-mhd-20 {
    min-height: 20vh;
  }

  .md-mhd-30 {
    min-height: 30vh;
  }

  .md-mhd-40 {
    min-height: 40vh;
  }

  .md-mhd-50 {
    min-height: 50vh;
  }

  .md-mhd-60 {
    min-height: 60vh;
  }

  .md-mhd-70 {
    min-height: 70vh;
  }

  .md-mhd-80 {
    min-height: 80vh;
  }

  .md-mhd-90 {
    min-height: 90vh;
  }

  .md-mh-fit {
    min-height: fit-content;
  }

  /* font-weights */
  .md-fw-100 {
    font-weight: 100 !important;
  }
  .md-fw-200 {
    font-weight: 200 !important;
  }
  .md-fw-300 {
    font-weight: 300 !important;
  }
  .md-fw-400 {
    font-weight: 400 !important;
  }
  .md-fw-500 {
    font-weight: 500 !important;
  }
  .md-fw-600 {
    font-weight: 600 !important;
  }
  .md-fw-700 {
    font-weight: 700 !important;
  }
  .md-fw-800 {
    font-weight: 800 !important;
  }
  .md-fw-900 {
    font-weight: 900 !important;
  }
  .md-fw-1000 {
    font-weight: 1000 !important;
  }

  /* opacity */
  .md-op-1 {
    opacity: 1;
  }

  .md-op-09 {
    opacity: 0.9;
  }

  .md-op-08 {
    opacity: 0.8;
  }

  .md-op-07 {
    opacity: 0.7;
  }

  .md-op-06 {
    opacity: 0.6;
  }

  .md-op-05 {
    opacity: 0.5;
  }

  .md-op-04 {
    opacity: 0.4;
  }

  .md-op-03 {
    opacity: 0.3;
  }

  .md-op-02 {
    opacity: 0.2;
  }

  .md-op-01 {
    opacity: 0.1;
  }

  /* letter spacing */
  .md-ls-1 {
    letter-spacing: 1;
  }

  .md-ls-09 {
    letter-spacing: 0.9;
  }

  .md-ls-08 {
    letter-spacing: 0.8;
  }

  .md-ls-07 {
    letter-spacing: 0.7;
  }

  .md-ls-06 {
    letter-spacing: 0.6;
  }

  .md-ls-05 {
    letter-spacing: 0.5;
  }

  .md-ls-04 {
    letter-spacing: 0.4;
  }

  .md-ls-03 {
    letter-spacing: 0.3;
  }

  .md-ls-02 {
    letter-spacing: 0.2;
  }

  .md-ls-01 {
    letter-spacing: 0.1;
  }

  /* text colors */
  .md-text-wheat {
    color: wheat;
  }

  .md-text-orange {
    color: orange;
  }

  .md-text-darkorange {
    color: darkorange;
  }

  .md-text-aqua {
    color: aqua;
  }

  .md-text-aquamarine {
    color: aquamarine;
  }

  .md-text-greenyellow {
    color: greenyellow;
  }

  .md-text-violet {
    color: #a047fa;
  }

  /* link colors */
  .md-link-wheat {
    color: wheat;
  }

  .md-link-orange {
    color: orange;
  }

  .md-link-darkorange {
    color: darkorange;
  }

  .md-link-aqua {
    color: aqua;
  }

  .md-link-aquamarine {
    color: aquamarine;
  }

  .md-link-greenyellow {
    color: greenyellow;
  }

  .md-link-violet {
    color: #a047fa;
  }

  .md-link-wheat:hover {
    color: #f5deb3bd;
  }

  .md-link-orange:hover {
    color: #ffa5003c;
  }

  .md-link-darkorange:hover {
    color: #ac6003aa;
  }

  .md-link-aqua:hover {
    color: #00ffffbd;
  }

  .md-link-aquamarine:hover {
    color: #7fffd4bd;
  }

  .md-link-greenyellow:hover {
    color: #adff2fbd;
  }

  .md-link-violet:hover {
    color: #a047fabd;
  }

  /* bg colors */
  .md-bg-wheat {
    background-color: wheat;
  }

  .md-bg-orange {
    background-color: orange;
  }

  .md-bg-darkorange {
    background-color: darkorange;
  }

  .md-bg-aqua {
    background-color: aqua;
  }

  .md-bg-aquamarine {
    background-color: aquamarine;
  }

  .md-bg-greenyellow {
    background-color: greenyellow;
  }

  .md-bg-violet {
    background-color: #a047fa;
  }

  /* alert colors */
  .md-alert-wheat {
    background-color: #f5deb350;
  }

  .md-alert-orange {
    background-color: #ffa50050;
  }

  .md-alert-darkorange {
    background-color: #ff8c0050;
  }

  .md-alert-aqua {
    background-color: #00ffff50;
  }

  .md-alert-aquamarine {
    background-color: #7fffd450;
  }

  .md-alert-greenyellow {
    background-color: #adff2f50;
  }

  .md-alert-violet {
    background-color: #a047fa50;
  }

  /* text shadow */
  .md-ts-normal-black {
    text-shadow: 0 0 2px #000;
  }
  .md-ts-normal-white {
    text-shadow: 0 0 2px #fff;
  }

  /* stretch */
  .md-stretchX-01 {
    transform: scaleX(0.1rem);
  }

  /* hover scale */
  .md-hover-scale-01:hover {
    scale: 0.1;
  }
  .md-hover-scale-02:hover {
    scale: 0.2;
  }
  .md-hover-scale-03:hover {
    scale: 0.3;
  }
  .md-hover-scale-04:hover {
    scale: 0.4;
  }
  .md-hover-scale-05:hover {
    scale: 0.5;
  }
  .md-hover-scale-06:hover {
    scale: 0.6;
  }
  .md-hover-scale-07:hover {
    scale: 0.7;
  }
  .md-hover-scale-08:hover {
    scale: 0.8;
  }
  .md-hover-scale-09:hover {
    scale: 0.9;
  }
  .md-hover-scale-11:hover {
    scale: 1.1;
  }
  .md-hover-scale-12:hover {
    scale: 1.2;
  }
  .md-hover-scale-13:hover {
    scale: 1.3;
  }
  .md-hover-scale-14:hover {
    scale: 1.4;
  }
  .md-hover-scale-15:hover {
    scale: 1.5;
  }
  .md-hover-scale-16:hover {
    scale: 1.6;
  }
  .md-hover-scale-17:hover {
    scale: 1.7;
  }
  .md-hover-scale-18:hover {
    scale: 1.8;
  }
  .md-hover-scale-19:hover {
    scale: 1.9;
  }
  .md-hover-scale-2:hover {
    scale: 2;
  }

  /* transitions all */
  .md-transition-01 {
    transition: all 0.1s;
  }
  .md-transition-02 {
    transition: all 0.2s;
  }
  .md-transition-03 {
    transition: all 0.3s;
  }
  .md-transition-04 {
    transition: all 0.4s;
  }
  .md-transition-05 {
    transition: all 0.5s;
  }
  .md-transition-06 {
    transition: all 0.6s;
  }
  .md-transition-07 {
    transition: all 0.7s;
  }
  .md-transition-08 {
    transition: all 0.8s;
  }
  .md-transition-09 {
    transition: all 0.9s;
  }
  .md-transition-1 {
    transition: all 1s;
  }
  .md-transition-11 {
    transition: all 1.1s;
  }
  .md-transition-12 {
    transition: all 1.2s;
  }
  .md-transition-13 {
    transition: all 1.3s;
  }
  .md-transition-14 {
    transition: all 1.4s;
  }
  .md-transition-15 {
    transition: all 1.5s;
  }
  .md-transition-16 {
    transition: all 1.6s;
  }
  .md-transition-17 {
    transition: all 1.7s;
  }
  .md-transition-18 {
    transition: all 1.8s;
  }
  .md-transition-19 {
    transition: all 1.9s;
  }
  .md-transition-2 {
    transition: all 2s;
  }

  .md-hidden {
    display: none;
  }

  .md-empty-field {
    border: 1px solid red;
    background-color: #fd9797;
    border-radius: 3px;
    color: #fff;
  }

  form input {
    z-index: 0 !important;
  }

  .md-empty-field::placeholder {
    color: #fff;
  }
}
