* {
  transition: all 0.4s;
}

.shadow-light {
  box-shadow: 0 0.5rem 1rem #ffffff45 !important;
}

.search-result__details * {
  font-size: 12px;
}

.search-result-item-top {
  height: 300px;
}

.search-result-poster {
  width: 500px;
  height: 100%;
}

p {
  margin: 0;
}

.navbar-brand:hover {
  text-shadow: 0 0 15px #fff;
  transform: rotateX(360deg);
}

.navbar {
  backdrop-filter: blur(20);
  -webkit-backdrop-filter: blur(20);
  box-shadow: inset 0 0 30px #ffffff55;
}

.nav-item .nav-link {
  color: #fff;
}

.nav-item .nav-link.active,
.nav-item .nav-link:focus {
  color: #ff824d;
}

.nav-item .nav-link:hover,
.stat-label {
  color: #ffb64d;
}

.stats-container,
.movie-list,
.my-genre,
.genre-item,
.add-movie-btn,
.search-options,
.search-options button,
.search-results .result-item,
.recommended-movie-items {
  background: none;
  box-shadow: inset 0 0 20px #ffffff4e;
  color: #fff;
  transition: all 0.3s ease;
}

.genre-section .genre-item:hover,
.add-movie-btn:hover,
.search-options button:hover,
.so-btn.selected {
  background-color: #fff;
  color: #000;
}

.add-movie-btn {
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.more-actions-btn {
  width: 30px;
  transform: translateY(-15px);
  cursor: pointer;
}

.action-buttons {
  position: absolute;
  top: -100%;
  left: 35px;
  z-index: 1000;
  background-color: #212529;
  padding: 0.5rem;
  border-radius: 0.25rem;
  gap: 0.5rem;
}

/* Movie search result item expand (summary) */

.movie-summary {
  box-shadow: 2px 2px 20px #ffffff77;
}

.movie-summary-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.movie-summary-content {
  background-color: #00000034;
}

.movie-summary-cover-img {
  width: 200px;
  height: fit-content;
}

.movie-details-bg-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
